h1 {
  text-align: center;
  text-decoration: underline;
}

.planets {
  border: 2px solid red;
  border-radius: 5px;
  text-align: center;
  margin: 10px;
  padding: 5px;
}

.highlight {
  background-color: teal;
}

button {
  padding: 5px;
  border: 2px solid;
  border-radius: 5px;
}
